* {
  background-color: green;
}

.gridSquare {
  border: 1px solid grey;
  height: 10%;
  width: 10%;
  overflow: hidden;
  display: flex;
}

#grid {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 100px auto;
}
