* {
  background-color: green;
}

.gridSquare {
  border: 1px solid grey;
  height: 9%;
  width: 9%;
  overflow: hidden;
  display: flex;
}

.hole {
  border: 1px solid grey;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: black;
}

#grid {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 100px auto;
}
